<div class="container p-5">
  <div class="rectangle py-2">
    <mat-grid-list cols="12" rowHeight="2:5">

      <mat-grid-tile colspan='3'>
        <div class="purple p-3">
          <p class="text-center m-0"><i class="fa fa-star fa-2x checked"></i></p>
          <h3 class="text-white text-center m-0 font-weight-bold">{{tenxp}}XP</h3>
          <p class="text-white text-center m-0">{{Kopfgeld}}</p>

        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan='5'>

        <mat-progress-bar mode="determinate" [(value)]="value"></mat-progress-bar>

        <mat-grid-tile-header>
          <h3 class="font-weight-bold justify-content-center"> Erfahrungspunkte erthalten</h3>
        </mat-grid-tile-header>

        <mat-grid-tile-footer>
          <h3 class=""><span><i class="fa fa-star checked"></i></span> {{getnum}} / {{totalxp}} XP </h3>
        </mat-grid-tile-footer>

      </mat-grid-tile>
      <mat-grid-tile colspan='4'>
        <mat-grid-tile-header>
          <img class="images" [src]="img">
        </mat-grid-tile-header>
        <div class="text-center">
          <h3 class="font-weight-bold name m-0"><i class="fa fa-star checked "></i> {{name}}</h3>
          <p class="text-muted pb-2">{{super}}</p>

        </div>
        <br>
        <mat-grid-tile-footer>
          <h3 class="pt-1">Level 12</h3>
        </mat-grid-tile-footer>

      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>