.rectangle {
width: 570px;
// height: 120px;
background-color: #e4d6302b;
}
.mat-grid-tile .mat-grid-tile-header, .mat-grid-tile .mat-grid-tile-footer {
color: #0f0c0f;
background: transparent;
}
.mat-grid-tile .mat-grid-tile-header h3, .mat-grid-tile .mat-grid-tile-footer h3 {
letter-spacing: 1px;
font-size: 14px;
margin: 0 auto;
font-weight: 500;
}
::ng-deep .mat-progress-bar-fill::after {
background-color: #ffd900e8;
}
::ng-deep .mat-progress-bar-buffer {
background: #101111;
}
::ng-deep .mat-progress-bar {
border-radius: 8px;
}
.mat-progress-bar {
height: 6px;
width: 300px;
border-radius: 6px;
}
img.images {
border-radius: 50%;
width: 40px;
height: 40px;
margin: 0 auto;
}
.purple {
border-radius: 25px;
background-color: #1f011f;
}
.checked {
color: #ffd900e8;
}
.name {
padding-top: 30px;
}